_site/*
.htaccess
*.DS_Store
examples/wysiwyg/editors/aloha/*
examples/wysiwyg/editors/tinymce/*
examples/wysiwyg/editors/ckeditor/*
examples/wysiwyg/editors/ckeditor4/*
node_modules/*
.grunt/*
bower_components/*
lib/*