_site/*
.htaccess
.idea
*.DS_Store
examples/wysiwyg/editors/aloha/*
examples/wysiwyg/editors/tinymce/*
examples/wysiwyg/editors/ckeditor/*
examples/wysiwyg/editors/ckeditor4/*
node_modules/*
.grunt/*
dist/*
bower_components/*
lib/*
test/quail-testing.jquery.js
test/accessibility-tests/_tests.json
test/quail-testrunner.js
test/accessibility-tests/_tests.json
test/core/_tests.json
analyses/*
vendor/*
