.quail-result { padding: 3px; border-radius: 3px;}
  .quail-result.severe { border: 3px dashed red; }
  .quail-result.moderate { border: 3px dashed orange; }
  .quail-result.reccomendation { border: 3px solid green; }

.quail-message { padding: 4px; border-radius: 2px; background: #d8b3b3; }

#enable-accessibility {
  position: fixed;
  bottom: 0px;
  left: 20px;
  font-size: 14px;
  background: #5BA0D0;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

#enable-accessibility a {
  color: #fff;
  text-decoration: none;
}

body {
  padding: 40px;
}

textarea {
  width: 600px;
  height: 400px;
  margin: 40px auto;
}