.quail-result { padding: 3px; }
  .quail-result.severe { border: 3px solid red; }
  .quail-result.moderate { border: 3px solid yellow; }
  .quail-result.reccomendation { border: 3px solid green; }
  
.aloha-quail-button {
	background: url(../img/icon_quail.png) no-repeat !important;
}
.aloha-quail-block-button {
	background: url(../img/blockquote.png) no-repeat !important;
	border: 1px solid none !important;
	border-radius: 3px 3px 3px 3px;
    height: 44px !important;
    width: 54px !important;
}
.aloha-quail-pressed {
	border: 2px solid #3B73D7 !important;
}
